extends layout

block content
    div.container
        div.row
            div.col-md-12
                div(class="panel panel-default")
                    div.panel-heading
                        .pull-right
                            a(href="/").text-right Home
                        h1 Login
                        p #{message}
                    div.panel-body
                        form.form-horizontal(action="/login", method="post")
                            div.form-group
                                label(class="col-sm-2" for="emailInput") Email
                                div.col-sm-10
                                    input(id="emailInput" placeholder="Email" type="email" name="email")
                            div.form-group
                                label(class="col-sm-2" for="passInput") Password
                                div.col-sm-10
                                    input(id="passInput" placeholder="Password" type="password" name="password")
                            input(class="btn btn-primary" type="submit" value="Log In")